[submodule "cv-creator-implementation"]
	path = cv-creator-implementation
	url = https://github.com/erichowens/cv-creator.git
[submodule "mcp-servers/prompt-learning"]
	path = mcp-servers/prompt-learning
	url = https://github.com/erichowens/prompt-learning-mcp.git
[submodule "erichowens_com"]
	path = erichowens_com
	url = https://github.com/erichowens/erichowens_com.git
	ignore = all
